In [ ]:
import nltk
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.functional as F
import numpy as np
import torch.optim as optim
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [ ]:

from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
dataset = pd.read_csv('/content/gdrive/My Drive/NLPlay with Transformers/Sentiment analysis/IMDB Dataset.csv')
dataset.info()
dataset.head(n=5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
one_hot = pd.get_dummies(dataset['sentiment'])
dataset = dataset.drop('sentiment', axis=1) 
dataset = dataset.join(one_hot)
dataset.head(5)

                                              review  negative  positive
0  One of the other reviewers has mentioned that ...         0         1
1  A wonderful little production. <br /><br />The...         0         1
2  I thought this was a wonderful way to spend ti...         0         1
3  Basically there's a family where a little boy ...         1         0
4  Petter Mattei's "Love in the Time of Money" is...         0         1

In [ ]:
def pre_processing(text):
  words=word_tokenize(text)
  words_wo_punc=[]
  for w in words:
    if w.isalpha():
      words_wo_punc.append(w.lower())
  clean_words=[]
  stop_words = set(stopwords.words("english"))
  for w in words_wo_punc:
    if w not in stop_words:
      clean_words.append(w)
  lemma=WordNetLemmatizer()
  lemma_words=[]
  for w in clean_words:
    lemma_words.append(lemma.lemmatize(w))
  return ' '.join(lemma_words)

In [ ]:
dataset['review'] = dataset['review'].apply(pre_processing)
dataset.to_csv('/content/gdrive/My Drive/NLPlay with Transformers/Sentiment analysis/pre_processed_data.csv', index=False)
dataset.head(5)

                                              review  negative  positive
0  one reviewer mentioned watching oz episode hoo...         0         1
1  wonderful little production br br filming tech...         0         1
2  thought wonderful way spend time hot summer we...         0         1
3  basically family little boy jake think zombie ...         1         0
4  petter mattei love time money visually stunnin...         0         1

In [ ]:
 dataset = pd.read_csv('/content/gdrive/My Drive/NLPlay with Transformers/Sentiment analysis/pre_processed_data.csv')
 dataset.head(5)

                                              review  negative  positive
0  one reviewer mentioned watching oz episode hoo...         0         1
1  wonderful little production br br filming tech...         0         1
2  thought wonderful way spend time hot summer we...         0         1
3  basically family little boy jake think zombie ...         1         0
4  petter mattei love time money visually stunnin...         0         1

In [ ]:
from sklearn.model_selection import train_test_split
X =dataset.iloc[:, 0].values
Y = dataset.iloc[:, 2].values
X_train, X_test, y_train, y_test = train_test_split(X, Y, shuffle=True, random_state=60, test_size=0.15)
 
print("Number of train samples: ", len(X_train))
print("Number of test samples: ", len(X_test))
train_dataset, test_dataset = torch.utils.data.random_split(dataset, [40000, 10000])

Number of train samples:  42500
Number of test samples:  7500

In [ ]:
class ffnn(nn.Module):
    def __init__(self,input_dim,output_dim):
        
        super(ffnn,self).__init__()
        self.fc1 = nn.Linear(input_dim, 256)
        self.fc2=nn.Linear(256,128)
        self.fc3= nn.Linear(64, output_dim)

    def forward(self, x):
        out = self.fc1(x)
        out=F.relu(out)
        out = self.fc2(out)
        out=F.relu(out)
        out = self.fc3(out)
        out=F.softmax(out,dim=1)
        return out